# Compiled binaries and libraries
/target/

# Rust-specific
**/*.rs.bk

# IDE-specific
.idea/
.vscode/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Dependencies
/vendor/
/node_modules/

# Logs and temporary files
*.log
*.tmp
*.bak
*~
.history/
.venv*/
*.pyc
__pycache__/
